<!-- Carousel -->
<div id="myCarousel" class="carousel slide jumbotron" data-ride="carousel" data-interval="4000">
  <div class="container" >
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <h1>Pumpkin pie</h1>
        <p class="lead">A halloween treat!</p>
        <p><a class="btn btn-success btn-lg" href="/recipes/5">Check out the recipe!</a>           
      </div>
      <div class="item">
        <h1>Scrambled eggs</h1>
        <p class="lead">Eggs for the win</p>
        <p><a class="btn btn-success btn-lg" href="/recipes/2">Check out the recipe!</a>      
      </div>
      <div class="item">
        <h1>Apple crumble</h1>
        <p class="lead">Delicous summer pudding</p>
        <p><a class="btn btn-success btn-lg" href="/recipes/8">Check out the recipe!</a></p>           
      </div>
    </div>     
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>      
</div> <!-- End Carousel -->
<%= render partial: 'layouts/alert' %>
<%= render partial: 'recipes/recipes' %>

